* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

.logo{
    margin: 0%;
    width: 20%;
}

#root {
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #603311;
}
.links {
    color: white;
    text-decoration: none;
}
.dropdown-item{
    color: #603311;
}

main {
    flex-grow: 1;
    padding: 1rem;
}

footer {
    background-color: #603311;
    text-align: center;
    font-size: 0.8rem;
    color: white;
}

.card{
    width: 15rem;
    padding: 0;
    transition: 0.4s;
}

.imagenes{
    width: 180px;
    height: 200px;
    
}

.card:hover{
    transform: scale(1.1);

}

.botonAgregar{
    width: 10rem;
    background-color: #603311;
    color: white;
}

.imgRedes{
    width: 1.5rem;
}

.btnCategorias{
    background-color: white;
    color: #603311;
    border: #603311 solid 1px;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: 0.2s;
    text-decoration: none;
}

.btnCategorias:hover{
    transform: scale(1.1);
}